.flex {
    $directions: (row: row, col: column);

    @each $key, $value in $directions {
        &-#{$key} {
            display: flex;
            flex-flow: $value nowrap;
            align-items: center;
        }
    }

    &-1 {
        flex: 1 0 0;
    }

    &-start {
        align-items: flex-start;
    }

    &-around {
        justify-content: space-around;
    }

    &-between {
        justify-content: space-between;
    }

    &-shrink-0 {
        flex-shrink: 0;
    }

    &.gap {
        $space: (small: 8px, normal: 10px, large: 20px);
    }
}

.full {
    width: 100%;
    min-height: 100%;
}

.w-full {
    width: 100%;
}

.h-full {
    min-height: 100%;
}

.space {
    $directions: (row: left, col: top);
    $spaces: (small: 8px, normal: 12px, large: 24px);
    $default-rol-space: map-get($spaces, normal);
    $default-row-space: map-get($spaces, normal);

    @each $i, $direction in $directions {
        $default-space: if($i == row, $default-row-space, $default-rol-space);
        &-#{$i} > *:nth-child(n + 2) {
            margin-#{$direction}: $default-space;
        }

        @each $j, $space in $spaces {
            &-#{$i}-#{$j} > *:nth-child(n + 2) {
                margin-#{$direction}: $space;
            }
        }
    }
}

.scroll {
    $directions: (row: x, col: y);

    @each $key, $value in $directions {
        &-#{$key} {
            overflow: hidden;
            overflow-#{$value}: scroll;
        }
    }
}